# node_modules: 패키지 라이브러리
node_modules/

# 빌드 결과물
backend/node_modules/
backend/package-lock.json

frontend/node_modules/
frontend/package-lock.json

# OS/IDE 관련 파일
.DS_Store
Thumbs.db
.vscode/
.idea/

