@import 'bootstrap/dist/css/bootstrap.min.css';

html, body{
    height: 100%;
}
/* html{font-size: 100% !important;} */

body{font-family: 'Freesentation 4 Regular';}

.table{
    .table-secondary{
        background-color: #f8f9fa;
    }
    .table-secondary th{
        background-color: #f8f9fa;
        text-align: center;
    }
    td{
        text-align: center;
    }
}
.container{
    max-width: 1000px;
}